.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outlined {
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 8px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    background-color: rgb(255, 250, 250) !important;
    letter-spacing: 1px !important;
    color: #333 !important;
    transition: background-color 0.7s ease-in-out !important;
    cursor: pointer;
    text-transform: capitalize;
}

.outline-group .label {
    display: inherit;
    align-items: center;
}

.icon-span {
    margin-left: 10px;
}

.outline-group:hover {
    background-color: rgba(215, 230, 230, 0.808) !important;
}

.outline-group:active {
    transform: scale(0.98);
}